body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/** Layout */
.wrapper {
  min-height: 100vh;
  margin-left: 260px;
  overflow-x: hidden;
  background-color: #f8f9fc;
  width: 100%;
}
.content {
  flex: 1 0 0;
}

/** Sidebar */
.sidebar {
  background-color: #fff;
  position: fixed;
  width: 260px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 80px 0 0;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .wrapper {
    margin-left: 0;
  }
}

.sidebar-on .sidebar {
  display: block;
}
.sidebar-on .wrapper {
  margin-left: 260px;
}

/** Header */
.iconNav {
  padding: 4px;
  padding-right: 10px;
}
